body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: repeating-linear-gradient(157.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(67.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(143,33%,50%),hsl(215,33%,50%),hsl(287,33%,50%),hsl(359,33%,50%),hsl(71,33%,50%));
}

.calculator {
    width: 90%; 
    max-width: 350px; 
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(68, 67, 67, 0.1);
    /* animation: breathing 2s infinite alternate;  */
}

/* @keyframes breathing {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: #14141481;
    }
} */

h1 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

.input-group {
    margin-bottom: 10px;
}

input[type="text"], button {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
}
